.wrapper .cover-box {
  height: 400px;
}
.wrapper .cover-box .cover {
  background: transparent url(../img/bg_header_new.jpg) no-repeat!important;
  background-size: cover;
}
.wrapper .cover-overlay {
  display: none;
}
.wrapper .mobile-header-wrapper {
  position: relative;
}

  /*===========================
    Helpers
  ============================*/
.c-text-center {
  text-align: center;
}
/*===========================
  Global
============================*/
.c-wrap {
  max-width: 1920px;
  margin: 0 auto;
  color: #050505;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.c-wrap * {
  box-sizing: border-box;
}
.c-wrap ul > li,
.select2-results ul > li {
  background-image: none; 
}
.c-wrap ul,
.c-wrap li {
  padding: 0;
}
.c-wrap img {
  max-width: 100%;
}
.c-wrap p {
  line-height: 1.4; 
}
.c-wrap a {
  outline: none;
}
.c-container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.c-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.c-content {
  padding-top: 40px;
}
.c-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: normal;
  font-weight: 700;
}
@media screen and (max-width: 980px) {
  .c-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .c-title {
    font-size: 28px;
  }
}
/*===========================
  Buttons
============================*/
.c-btn {
  display: inline-block;
  min-width: 195px;
  padding: 14px 35px;
  background: #fad749;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.c-btn:hover {
  background: #eabd03;
  color: #000;
}
@media screen and (max-width: 767px) {
  .c-btn {
    padding: 15px 24px;
  }
}
.c-btn-round {
  display: inline-block;
  padding: 4px 17px;
  margin-bottom: 10px;
  color: #31368a;
  border: 1px solid #31368a;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.c-btn-round:hover,
.c-btn-round:active {
  background: #31368a;
  color: #ffffff;
}
button.c-btn-round {
  background: #ffffff;
}
/*===========================
  Header
============================*/
.c-header {
  position: relative;
  z-index: 2;
  padding-top: 52px;
  padding-bottom: 64px;
  background-size: cover;
}
.c-header__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  color: #f9d749;
}
.c-header__subtitle {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .c-header__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper .cover-box {
    display: none;
  }
  .c-header {
    background: transparent url(../img/bg_header_new.jpg) 0 center no-repeat!important;
    background-size: cover;
  }
}
/*===========================
  Menu
============================*/
.c-menu {
  padding: 32px 0;
  border-bottom: 1px solid #cccccc;
}
.c-menu__item {
  display: inline-block;
  vertical-align: top;
}
.c-menu__item:not(:last-child) {
  margin-right: 45px;
}
.c-menu__link {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #a4a4a4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.c-menu__link:hover {
  color: #807c7c;
}
@media screen and (max-width: 960px) {
  .c-menu__list {
    text-align: center;
  }
  .c-menu__item,
  .c-menu__item:not(:last-child) {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
/*===========================
  License
============================*/
.c-license {
  padding: 30px 0 60px 0;
}
.c-license__item {
  display: table;
  width: 100%;
  text-decoration: none;
  background-color: #3a6db2;
  color: #ffffff;
}
.c-license__item:not(:last-child) {
  margin-bottom: 5px;
}
.c-license__item_multi {
  background-color: #643aaf;
}
.c-license__item_corp {
  background-color: #ca2d94;
}
.c-license__item_server-32 {
  background-color: #393c9c;
}
.c-license__item_server-64 {
  background-color: #6c6ea1;
}
.c-license__item-content,
.c-license__item-link {
  display: table-cell;
}
.c-license__item-content {
  width: 100%;
  padding: 24px 32px;
}
.c-license__item-link {
  padding: 0 40px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f9d749;
  color: #000000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.c-license__item-link:hover {
  background-color: #eabd03;
}
.c-license__item-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .c-license__item-content,
  .c-license__item-link {
    display: block;
  }
  .c-license__item-link {
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .c-license__item-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*===========================
  Types
============================*/
.c-types {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.c-types__item-wrap {
  display: table;
}
.c-types__item-left,
.c-types__item-right {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.c-types__item-left {
  padding-right: 50px;
}
.c-types__item-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}
.c-types .owl-prev,
.c-types .owl-next {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: -20px;
  border-left: 4px solid #a8a8a8;
  border-top: 4px solid #a8a8a8;
  top: 50%;
  overflow: hidden;
  text-indent: -100px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.c-types .owl-prev:hover,
.c-types .owl-next:hover {
  border-color: #cdcdcd;
}
.c-types .owl-prev {
  left: -45px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.c-types .owl-next {
  right: -45px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.c-types .owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}
.c-types .owl-carousel .owl-dots {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.c-types .owl-carousel .owl-dot {
  display: inline-block;
  width: 250px;
  height: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #cdcdcd;
}
.c-types .owl-carousel .owl-dot.active {
  background-color: #f9d749;
}
@media screen and (max-width: 500px) {
  .c-types__item-left,
  .c-types__item-right {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0;
    text-align: center;
  }
  .c-types .owl-dots {
    margin-top: 10px !important;
  }
}
/*===========================
  Order
============================*/
.c-order {
  padding: 40px 0 20px 0;
  text-align: center;
  background-color: #f9d749;
}
.c-order__btn,
.c-order__text {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  border-radius: 5px;
}
.c-order__btn {
  padding: 13px 40px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.c-order__btn:hover {
  opacity: .7;
}
.c-order__btn_pink {
  background-color: #f0257a;
  color: #ffffff;
}
.c-order__btn_pink:hover {
  color: #ffffff;
}
.c-order__btn_border {
  border: 3px solid #f0257a;
  color: #f0257a;
}
.c-order__text {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .c-order__btn {
    font-size: 20px;
  }
}
/*===========================
  Feedback
============================*/
.c-feedback {
  padding-top: 20px;
  /* background-color: #f7f7f7; */
}
/*.c-feedback .c-container {

  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}*/
.c-feedback__wrap {
	 background-image: url(/1csoft/litsenzii-1s-predpriyatie/css/../img/men.png);
   background-position: left;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 50%;
    
    text-align: center;
}
.c-feedback__subtitle {
  margin-bottom: 25px;
}
.c-feedback__form-input {
  width: 100%;
  padding: 18px 15px;
  margin-bottom: 23px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
}
.c-feedback__wrap .dpdwn .text {
  margin-bottom: 0;
  width: 100%;
  padding-right: 0;
}
.c-feedback__wrap .text input {
  width: 100%;
  height: auto;
  padding: 18px 15px;
  margin-bottom: 23px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
  line-height: 1em;
}
.c-feedback__wrap [type="submit"] {
  margin-bottom: 30px;
  display: inline-block;
  min-width: 195px;
  padding: 14px 35px;
  background: #fad749;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.c-feedback__wrap [type="submit"]:hover {
  background: #eabd03;
  color: #000;
}
.c-feedback__wrap .dpdwn .policy-text {
  padding: 0;
  font-size: 15px;
  line-height: normal;
  color: #545454;
}
.c-feedback__wrap .dpdwn .policy-text a {
  color: inherit;
}
.c-feedback__wrap .block_button .selectOfficeFormHidden {
  margin: 0 0 20px;
}
.c-feedback__wrap .cusel {
  margin-bottom: 23px;
  width: 100%!important;
  height: 54px;
}
.c-feedback__wrap .cusel .cuselText {
  padding-top: 19px;
  padding-left: 15px;
}
.c-feedback__wrap .cusel .cuselFrameRight {
  top: 12px;
  height: 30px;
}
.c-feedback__wrap .cusel .cusel-scroll-wrap {
  top: 51px;
}
@media screen and (max-width: 1110px) {
  .owl-nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .c-feedback .c-container {
    background-image: none;
  }
  .c-feedback__wrap {
    padding-left: 0;
  }
}
/*===========================
  Calculator
============================*/
.c-calculator {
  padding: 60px 0;
}
.c-calculator__subtitle {
  margin-bottom: 32px;
}
.c-calculator .c-title {
  margin-bottom: 15px;
}
.c-calculator input[type="checkbox"] {
  display: none;
}
.c-calculator .g-checkbox {
  display: block;
  margin-bottom: 20px;
}
.c-calculator .g-checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cdcdcd;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border-radius: 5px;
  position: relative;
}
.c-calculator .g-icon-ok:before {
  content: "";
  display: block;
  visibility: hidden;
  width: 22px;
  height: 22px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzQyLjM1NyAzNDIuMzU3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNDIuMzU3IDM0Mi4zNTc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBwb2ludHM9IjI5MC4wNCwzMy4yODYgMTE4Ljg2MSwyMDQuNDI3IDUyLjMyLDEzNy45MDcgMCwxOTAuMjI2IDExOC44NjIsMzA5LjA3MSAzNDIuMzU3LDg1LjYwNiAiLz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=);
  background-size: 60%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  opacity: .4;
}
.c-calculator .g-checkbox-input:checked + .g-icon-ok:before {
  visibility: visible;
}
.c-calculator input[type="radio"] {
  display: none;
}
.c-calculator .g-radio {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.c-calculator .g-radio:not(:last-child) {
  margin-right: 70px;
}
.c-calculator .g-radio-icon {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #d1d1d1;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
}
.c-calculator .g-radio-icon:before {
  content: "";
  display: block;
  visibility: hidden;
  width: 14px;
  height: 14px;
  background: #d41a70;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-left: -7px;
  margin-top: -7px;
}
.c-calculator .g-radio-input:checked + .g-radio-icon:before {
  visibility: visible;
}
.c-calculator__content {
  margin-bottom: 25px;
}
.c-calculator .c-title {
  text-align: left;
}
.c-calculator__wrap {
  padding: 35px 45px 45px 45px;
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
}
.c-calculator__wrap:last-child {
  border-top: none;
}
.c-calculator__field {
  margin-bottom: 20px;
}
.c-calculator__field .select2 {
  width: 100%;
}
.c-calculator__field .select2-container .select2-selection--single {
  height: 55px;
  background-color: #f7f7f7;
  outline: none;
}
.c-calculator__field .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 55px;
}
.c-calculator__field .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}
.c-calculator__field .select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url(../img/arrow.png) center no-repeat;
  top: 15px;
  right: 15px;
}
.c-calculator__field .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.c-calculator__label {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.c-calculator__select {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background: url(../img/arrow.png) right 12px center no-repeat, #f7f7f7;
  padding: 27px 42px 27px 24px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  outline: none;
}
.c-calculator__select .cuselText {
  padding: 20px 42px 20px 24px;
  font-size: 16px;
}
.c-calculator__select .cuselFrameRight {
  display: none;
}
.c-calculator__select .cusel-scroll-wrap {
  top: 55px;
}
.c-calculator__select:not(.twoColumns) span:hover {
  width: auto;
}
.c-calculator__select span:hover {
  margin-left: 9px;
  margin-right: 9px;
}

.c-calculator__select optgroup {
  cursor: pointer;
  display: block;
  height: 17px;
  padding: 5px 1px 6px;
  margin: 0 9px;
  border-top: 1px dotted #a9b1be;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: content-box;
}
.c-calculator__text-light {
  color: #b6b6b6;
}
.c-calculator__license-label,
.c-calculator__input-text {
  margin-right: 12px;
}
.c-calculator__input-text {
  width: 118px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background: transparent;
  padding: 13px 24px;
  outline: none;
}
.c-calculator__table-bottom {
  display: table;
  width: 100%;
}
.c-calculator__table-bottom-left,
.c-calculator__table-bottom-right {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.c-calculator__table-bottom-right {
  text-align: right;
}
.c-calculator__table-sum-label {
  font-size: 18px;
  font-weight: 700;
}
.c-calculator__table-sum-value {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .c-calculator__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-calculator__wrap .c-calculator-table,
  .c-calculator__wrap .c-calculator-table__row-item {
    font-size: 11px !important;
  }
  .c-calculator__wrap .c-calculator-table__row > div:not(:first-child) {
    padding: 0 1px;
  }
  .c-calculator__table-bottom-left,
  .c-calculator__table-bottom-right {
    display: block;
    width: 100%;
    text-align: center;
  }
  .c-calculator__table-bottom-left {
    margin-bottom: 15px;
  }
}
/*===========================
  Calculator table
============================*/
.c-calculator-table,
.c-calculator-table__body {
  display: table;
  width: 100%;
}
.c-calculator-table__row {
  display: table-row;
}
.c-calculator-table__row_selected {
  background-color: #eee;
}
.c-calculator-table__row:not(:last-child) .c-calculator-table__row-item {
  border-bottom: 1px solid #e5e5e5;
}
.c-calculator-table__row > div:not(:first-child) {
  padding: 0 17px;
  text-align: center;
}
.c-calculator-table__row > div:nth-child(1) {
  width: 45%;
}
.c-calculator__content .c-calculator-table__row > div:nth-child(2) {
  width: 14%;
}
.c-calculator__content .c-calculator-table__row > div:nth-child(3) {
  width: 23%;
}
.c-calculator__content .c-calculator-table__row > div:nth-child(4) {
  width: 18%;
}
.c-calculator-table_info-icon {
}
.c-calculator-table__type-server {
  margin-bottom: 20px;
}
.c-calculator-table__total {
  margin-top: 20px;
}
.c-calculator-table__header {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.c-calculator-table__head {
  font-size: 18px;
  font-weight: 700;
}
.c-calculator-table__row-item {
  display: table-cell;
  padding: 15px 0;
}
.c-calculator-table__row-item .licenses-count {
  width: 58px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background: transparent;
  padding: 13px 14px;
  outline: none;
  text-align: center;
}
/*===========================
  License full
============================*/
.c-license-full {
  padding-top: 40px;
}
.c-license-full .c-title {
  margin-bottom: 20px;
}
.c-license-full__item_multi .c-license-full__item-head {
  background-color: #643aaf;
}
.c-license-full__item_corp .c-license-full__item-head {
  background-color: #ca2d94;
}
.c-license-full__item_server-32 .c-license-full__item-head {
  background-color: #393c9c;
}
.c-license-full__item_server-64 .c-license-full__item-head {
  background-color: #6c6ea1;
}
.c-license-full__item.active .c-license-full__item-head:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.c-license-full__item-head {
  position: relative;
  padding: 35px 45px;
  font-size: 24px;
  font-weight: 700;
  background-color: #3a6db2;
  color: #ffffff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
.c-license-full__item-head:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  right: 45px;
  margin-top: -8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.c-license-full__item-content {
  display: none;
  padding: 15px 45px;
  background-color: #ffffff;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.c-license-full .c-calculator-table__row > div:nth-child(1) {
  width: 55%;
}
@media screen and (max-width: 500px) {
  .c-license-full .c-calculator-table,
  .c-license-full .c-calculator-table__head {
    font-size: 12px !important;
  }
  .c-calculator-table__row > div:not(:first-child) {
    padding: 0px 10px;
  }
  .c-calculator-table__row > div:last-child {
    padding-right: 0 !important;
  }
  .c-license-full__item-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-license-full__item-head {
    padding: 25px 50px 25px 25px;
    font-size: 18px;
  }
  .c-license-full__item-head:after {
    right: 20px;
  }
}
.select2-search--dropdown {
  display: none;
  padding: 0;
}
@media (max-width: 767px) {
  .c-calculator-table__row-item .licenses-count {
    padding: 5px 5px;
    font-size: 11px;
    width: 38px;
  }
}

/*# sourceMappingURL=main.css.map */

.c1pp {
  color: #050505;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  }
.c1pp i {  margin-right: 4px;  }
.buy-width {  min-width: 106px;  }

@media (max-width: 550px) {
  .c-calculator-table__row-item, .c1pp {
    font-size: 13px !important;
  }
}
@media (max-width: 550px) {
  .c1pp i {
    display: block;
  }
  .c-calculator-table__row-item, .c1pp {
    font-size: 10px !important;
  }
  .buy-width {  min-width: unset;  }
  .webui-popover {width: auto !important;}
}

@media (max-width: 910px) {
  .c-calculator-table__row-item span{
    display: inline-block;
  }
  .popover-icon {
    width: 18px;
    height: 18px;
    margin-top: 1px;
    background-position-x: -434px;
    background-position-y: -297px;
  }
}