/*
 * Form
 */

.object-edit-form form {
    font-size: 14px;
}
.object-edit-form form .form-item:not(:last-child) {
    margin-bottom: 20px;
}
.object-edit-form form label {
    margin-bottom: 5px;
    display: block;
    font-weight: 700;
}
.object-edit-form form [type=text],
.object-edit-form form textarea {
    margin-bottom: 10px;
    display: block;
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #000;
    border-radius: 3px;
}
.object-edit-form form [type=text] {
    height: 20px;
}
.object-edit-form form textarea {
    height: 80px;
    resize: none;
}
.object-edit-form form .action-btn {
    margin-right: 20px;
    display: inline-block;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
}
.object-edit-form form .save-btn {
    background-color: #0a0;
    color: #fff;
}
.object-edit-form form .apply-btn {
    background-color: #05a;
    color: #fff;
}
.object-edit-form form .delete-btn {
    background-color: #f33;
    color: #fff;
}
.object-edit-form form .error {
    margin-bottom: 5px;
    color: #f00;
    font-size: 12px;
}
.object-edit-form form .invalid [type=text],
.object-edit-form form .invalid textare {
    border-color: #f00;
}

/*
 * Notifies
 */

.object-edit-form .notifies {
    margin-bottom: 30px;
}
.object-edit-form .notifies .text {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
}
.object-edit-form .notifies .success .text {
    background-color: #8f8;
}
.object-edit-form .notifies .error .text {
    background-color: #f88;
}