.parser-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: Arial;
}
.parser-form [type="submit"] {
    margin: 20px auto 0;
    display: block;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: darkred;
    color: #fff;
    cursor: pointer;
}
.parser-form [type="submit"]:hover {
    opacity: .8;
}
.parser-form [type="submit"]:active {
    opacity: .9;
}
.progress {
    display: none;
}
.progress-bar {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 20px;
    background-color: greenyellow;
}
.progress-bar__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background-color: green;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
}
.progress-bar__pcts {
    position: relative;
    z-index: 3;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.progress-step {
    margin-top: 15px;
    text-align: center;
}