body {
    font-family: Arial;
}

.wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.sidebar {
	width: 20%;
	padding: 10px 10px 10px 0;
}

.sidebar .menu-sitemap-tree {
	padding: 10px;
	background-color: #ccc;
	font-size: 12px;
}

.content {
	width: 80%;
}